<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Ecolocate_server</servlet-name>
		<servlet-class>com.ecolocate.server.Ecolocate_serverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ecolocate_server</servlet-name>
		<url-pattern>/ecolocate_server</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>com.ecolocate.server.SignGuestbookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>location</servlet-name>
        <servlet-class>com.ecolocate.server.LocationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>location</servlet-name>
        <url-pattern>/location</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
